.form-group(*ngIf='isPreloadingSavedConfig')
    .row
        .col-md-12
            span.spinner-border.spinner-border-sm.mr-2
            span([textContent]='translate.trans("sync.loading_config")')

.form-group(*ngIf='!isPreloadingSavedConfig')
    .header.mb-2
        .title([textContent]='translate.trans("ftp.title")')
    .row
        .col-md-6.col-sm-12
            .input-group.mb-2
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-fw.fa-globe
                select.form-control(
                    [(ngModel)]='form.protocol',
                    [disabled]='isSettingSaved || isCheckLoginSuccess',

                )
                    option(*ngFor='let item of protocol', [ngValue]='item.value') {{item.name}}

            .input-group.mb-2
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-fw.fa-globe
                input.form-control(
                    type='text',
                    [placeholder]='translate.trans("ftp.host_placeholder")',
                    [disabled]='isSettingSaved || isCheckLoginSuccess',
                    [(ngModel)]='form.host',
                )

            .input-group.mb-2
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-fw.fa-folder-open
                input.form-control(
                    type='text',
                    [placeholder]='translate.trans("ftp.location_placeholder")',
                    [disabled]='isSettingSaved || isCheckLoginSuccess',
                    [(ngModel)]='form.location',
                )
        .col-md-6.col-sm-12
            .input-group.mb-2
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-fw.fa-user
                input.form-control(
                    type='text',
                    [placeholder]='translate.trans("ftp.username_placeholder")',
                    [disabled]='isSettingSaved || isCheckLoginSuccess',
                    [(ngModel)]='form.username',
                )

            .input-group.mb-2
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-fw.fa-lock
                input.form-control(
                    type='password',
                    [placeholder]='translate.trans("ftp.password_placeholder")',
                    [disabled]='isSettingSaved || isCheckLoginSuccess',
                    [(ngModel)]='form.password',
                )

    .row.mt-3(*ngIf='!isSettingSaved')
        .col-md-12.col-sm-12.pl-0(*ngIf='!isCheckLoginSuccess')
            button.btn.btn-primary.flex-shrink-0.ml-3.mb-2((click)='testConnection()')
                i.fas.fa-fw.fa-plug.mr-2
                span(*ngIf='!isFormProcessing', [textContent]='translate.trans("buttons.test_connection")')
                span.spinner-border.spinner-border-sm.mr-2(*ngIf='isFormProcessing')
                span(*ngIf='isFormProcessing', [textContent]='translate.trans("buttons.processing")')

        .col-md-12.col-sm-12.pl-0(*ngIf='isCheckLoginSuccess')
            button.btn.btn-warning.flex-shrink-0.ml-3.mb-2((click)='saveSettings()')
                i.fas.fa-fw.fa-save.mr-2
                span([textContent]='translate.trans("buttons.save_settings")')

            button.btn.btn-danger.flex-shrink-0.ml-3.mb-2((click)='cancelSaveSettings()')
                i.fas.fa-fw.fa-times-circle.mr-2
                span([textContent]='translate.trans("buttons.cancel")')

    .row.mt-3(*ngIf='isSettingSaved')
        .col-md-12(*ngIf='isSyncingProgress')
            span.spinner-border.spinner-border-sm.mr-2
            span([textContent]='translate.trans("buttons.cloud_syncing_progress")')

        button(*ngIf='!isSyncingProgress').btn.btn-danger.flex-shrink-0.ml-3.mb-2((click)='removeSavedSettings()')
            i.fas.fa-fw.fa-times-circle.mr-2
            span([textContent]='translate.trans("buttons.remove_saved_setting")')
