.form-group(*ngIf='!connectedData.isConnected')
    .header.mb-2
        .title(*ngIf='!isConnecting', [textContent]="'Connect to Dropbox'")
        .title(*ngIf='isConnecting', [textContent]="'Authorizing Dropbox...'")

.row(*ngIf='!connectedData.isConnected && !isSaveSettingErrored')
    .col-md-12.mb-2(*ngIf='!isConnecting')
        button.btn.btn-primary.flex-shrink-0.ml-3.mb-2((click)='connect()')
            i.fa.fa-brands.fa-dropbox.mr-2
            span Connect

    .col-md-12.mb-2(*ngIf='isConnecting')
        button.btn.btn-warning.flex-shrink-0.ml-3.mb-2((click)='cancelConnect()')
            span.spinner-border.spinner-border-sm.mr-2
            span Cancel

    .col-md-12.mb-2(*ngIf='isConnecting')
        .w-100.d-flex.flex-column
            h3(translate) Callback URL
            p After granted access, paste the redirected URL into the textbox below.
            textarea.form-control.h-150(
                [(ngModel)]='callbackUrl',
            )

    .col-md-12.mb-2(*ngIf='isConnecting')
        button.btn.btn-primary.flex-shrink-0.ml-3.mb-2.mr-2((click)='!isFormProcessing ? handleAuthCallback() : null')
            i.fa.fa-brands.fa-dropbox.mr-2(*ngIf='!isFormProcessing')
            span(*ngIf='!isFormProcessing', [textContent]='"Obtain Access Token"')
            span.spinner-border.spinner-border-sm(*ngIf='isFormProcessing')
            span(*ngIf='isFormProcessing', [textContent]='"Obtaining Access Token..."')

        button.btn.btn-warning.flex-shrink-0.ml-3.mb-2((click)='pasteFromClipboard()')
            i.fa.fa-paste.mr-2
            span Paste from Clipboard


.row(*ngIf='connectedData.isConnected && !isSaveSettingErrored')
    .col-md-12.mb-2
        .alert.alert-success
            p.mb-2
                i.fas.fa-info-circle.mr-2
                span Connected: {{connectedData.email}}

    .col-md-12.mb-2
        button.btn.btn-warning.flex-shrink-0.ml-3.mr-2((click)='saveSettings()')
            i.fa.fa-fw.fa-save.mr-2
            span Save Settings

        button.btn.btn-danger.flex-shrink-0.ml-3((click)='disconnect()')
            i.fa.fa-fw.fa-sign-out-alt.mr-2
            span Disconnect
