.form-group
    .header.mb-2
        .title Enter your WebDav login credentials
    .row
        .col-md-6.col-sm-12
            .input-group.mb-2
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-fw.fa-globe
                input.form-control(
                    type='text',
                    placeholder='Host',
                    [disabled]='isCheckLoginSuccess',
                    [(ngModel)]='form.host',
                )

            .input-group.mb-2
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-fw.fa-user
                input.form-control(
                    type='text',
                    placeholder='Username or Email',
                    [disabled]='isCheckLoginSuccess',
                    [(ngModel)]='form.username',
                )

            .input-group.mb-2
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-fw.fa-lock
                input.form-control(
                    type='password',
                    placeholder='******',
                    [disabled]='isCheckLoginSuccess',
                    [(ngModel)]='form.password',
                )

        .col-md-6.col-sm-12
            .input-group.mb-2
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-fw.fa-plug
                input.form-control(
                    type='text',
                    placeholder='Port',
                    [disabled]='isCheckLoginSuccess',
                    [(ngModel)]='form.port',
                )

            .input-group.mb-2
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-fw.fa-folder-open
                input.form-control(
                    type='text',
                    placeholder='Location /',
                    [disabled]='isCheckLoginSuccess',
                    [(ngModel)]='form.location',
                )

    .row.mt-3
        .col-md-12.col-sm-12.pl-0(*ngIf='!isCheckLoginSuccess')
            button.btn.btn-primary.flex-shrink-0.ml-3.mb-2((click)='!isFormProcessing ? testConnection() : null')
                i.fas.fa-fw.fa-plug.mr-2
                span(*ngIf='!isFormProcessing') Test Connection
                span.spinner-border.spinner-border-sm(*ngIf='isFormProcessing')
                span.sr-only(*ngIf='isFormProcessing') Processing...

        .col-md-12.col-sm-12.pl-0(*ngIf='isCheckLoginSuccess')
            button.btn.btn-warning.flex-shrink-0.ml-3.mb-2((click)='saveSettings()')
                i.fas.fa-fw.fa-save.mr-2
                span Save This Setting

            button.btn.btn-danger.flex-shrink-0.ml-3.mb-2((click)='cancelSaveSettings()')
                i.fas.fa-fw.fa-times-circle.mr-2
                span Cancel
