.form-group(*ngIf='isPreloadingSavedConfig')
    .row
        .col-md-12
            span.spinner-border.spinner-border-sm.mr-2
            span([textContent]='translate.trans("sync.loading_config")')

.form-group(*ngIf='!isPreloadingSavedConfig')
    .header.mb-2
        .title(*ngIf='provider !== presetData.values.BLACKBLAZE', [textContent]='translate.trans("s3.title")')
        .title(*ngIf='provider === presetData.values.BLACKBLAZE', [textContent]='translate.trans("s3.title_blackblaze")')
    .row
        .col-md-6.col-sm-12
            .input-group.mb-2
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-fw.fa-lock
                input.form-control(
                    type='text',
                    [disabled]='isSettingSaved || isServiceAccountCheckPassed',
                    [placeholder]='provider === presetData.values.BLACKBLAZE ? translate.trans("s3.blackblaze_key_placeholder") : translate.trans("s3.app_id_placeholder")',
                    [(ngModel)]='form.appId',
                )

            .input-group.mb-2
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-fw.fa-lock
                input.form-control(
                    type='text',
                    [disabled]='isSettingSaved || isServiceAccountCheckPassed',
                    [placeholder]='provider === presetData.values.BLACKBLAZE ? translate.trans("s3.blackblaze_app_key_placeholder") : translate.trans("s3.app_secret_placeholder")',
                    [(ngModel)]='form.appSecret',
                )

            .input-group.mb-2
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-fw.fa-folder
                input.form-control(
                    type='text',
                    [disabled]='isSettingSaved || isServiceAccountCheckPassed',
                    [placeholder]='translate.trans("s3.bucket_placeholder")',
                    [(ngModel)]='form.bucket',
                )

        .col-md-6.col-sm-12
            .input-group.mb-2(*ngIf='provider === presetData.values.S3_COMPATIBLE')
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-fw.fa-folder-open
                input.form-control(
                    type='text',
                    [disabled]='isSettingSaved || isServiceAccountCheckPassed',
                    [placeholder]='translate.trans("s3.endpoint_placeholder")',
                    [(ngModel)]='form.endpointUrl',
                )

            .input-group.mb-2
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-fw.fa-globe
                select.form-control(*ngIf='![presetData.values.BLACKBLAZE, presetData.values.S3_COMPATIBLE].includes(provider)',
                    [disabled]='isSettingSaved || isServiceAccountCheckPassed',
                    [(ngModel)]='form.region'
                )
                    option(*ngFor='let item of s3Regions', [ngValue]='item.value') {{item.text}}

                input.form-control(*ngIf='[presetData.values.BLACKBLAZE, presetData.values.S3_COMPATIBLE].includes(provider)',
                    [disabled]='isSettingSaved || isServiceAccountCheckPassed',
                    [placeholder]='provider === presetData.values.BLACKBLAZE ? translate.trans("s3.blackblaze_bucket_placeholder") : translate.trans("s3.region_placeholder")',
                    [(ngModel)]='form.region')

            .input-group.mb-2
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-fw.fa-folder-open
                input.form-control(
                    type='text',
                    [disabled]='isSettingSaved || isServiceAccountCheckPassed',
                    [placeholder]='translate.trans("s3.location_placeholder")',
                    [(ngModel)]='form.location',
                )

            .col-md-12
                small.blackblaze-help(*ngIf='provider === presetData.values.BLACKBLAZE', (click)='openBlackBlazeRegionHelp()') Learn how to get BlackBlaze B2 Region code

    .row.mt-3(*ngIf='!isSettingSaved')
        .col-md-12.col-sm-12.pl-0(*ngIf='!isServiceAccountCheckPassed')
            button.btn.btn-primary.flex-shrink-0.ml-3.mb-2((click)='!isFormProcessing ? performLoginAmazonS3() : null')
                i.fas.fa-fw.fa-plug.mr-2
                span(*ngIf='!isFormProcessing', [textContent]='translate.trans("buttons.test_connection")')
                span.spinner-border.spinner-border-sm.mr-2(*ngIf='isFormProcessing')
                span(*ngIf='isFormProcessing', [textContent]='translate.trans("buttons.processing")')

        .col-md-12.col-sm-12.pl-0(*ngIf='isServiceAccountCheckPassed')
            button.btn.btn-warning.flex-shrink-0.ml-3.mb-2((click)='saveAmazonS3Settings()')
                i.fas.fa-fw.fa-save.mr-2
                span([textContent]='translate.trans("buttons.save_settings")')

            button.btn.btn-danger.flex-shrink-0.ml-3.mb-2((click)='cancelSaveSettings()')
                i.fas.fa-fw.fa-times-circle.mr-2
                span([textContent]='translate.trans("buttons.cancel")')

    .row.mt-3(*ngIf='isSettingSaved')
        .col-md-12(*ngIf='isSyncingProgress')
            span.spinner-border.spinner-border-sm.mr-2
            span([textContent]='translate.trans("buttons.cloud_syncing_progress")')

        button.btn.btn-danger.flex-shrink-0.ml-3.mb-2(*ngIf='!isSyncingProgress', (click)='removeSavedSettings()')
            i.fas.fa-fw.fa-times-circle.mr-2
            span([textContent]='translate.trans("buttons.remove_saved_setting")')
